/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Where page-specific formatting begins */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


/* width -> max-width to allow scaling */
.container {
    max-width: 800px;
    margin: 0 auto;
}


/* Top Content CSS */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

/* UPDATED code for the About page */
.about.top-content {
    justify-content: flex-start;
}


.top-content img {
    width: 100%;
    height: auto;
    margin: 15px 0 20px;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* UPDATED code for the About page */
/* This modifies BOTH the top and bottom section! */
.about.text-container {
    width: 100%;
}


/* Middle Content CSS */
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    /* Added min-width so boxers don't squish when resizing */
    min-width: 100px;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box coloring: */
.middle-content .boxes .box--teal {
    background: teal;
}
.middle-content .boxes .box--gold {
    background:gold;
}
.middle-content .boxes .box--cadetblue {
    background: cadetblue;
}
.middle-content .boxes .box--coral {
    background: coral;
}
.middle-content .boxes .box--crimson {
    background: crimson;
}
.middle-content .boxes .box--forestgreen {
    background: forestgreen;
}
.middle-content .boxes .box--darkorchid {
    background: darkorchid;
}
.middle-content .boxes .box--hotpink {
    background: hotpink;
}
.middle-content .boxes .box--indigo {
    background: indigo;
}
.middle-content .boxes .box--dodgerblue {
    background: dodgerblue;
}

/* (About page) Card spacing CSS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.cards__card {
    width: 46%;
/*    padding-bottom: 20px;*/
    border-bottom: 1px dashed black;
    margin: 0 0px 50px;
    box-sizing: border-box;
}

.cards__card img {
    width: 100%;
    margin-bottom: 10px
}

.cards__card a {
    display: inline-block;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 10px 23px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 0;
    /* Transition Animation */
    transition: color 0.1s linear;
    transition: background 0.1s linear;
}

.cards__card a:hover {
    background: black;
    color: white;
    border: 2px solid #111111;
}


/* Bottom Content CSS */
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

/* UPDATED Code for the About page */
.about.bottom-content {
    margin-bottom: 40px;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}




/* header CSS */
header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 20px;
}

header nav a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 25px 0 0;
}

header nav a:first-child {
    padding: 0;
}



/* footer CSS */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    
    
    /* Header Changes */
    header nav {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    header nav a {
        background: lightblue;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        transition: background 0.1s linear;
    }
    
    header nav a:hover {
        background: blue;
    }
    
    /* top-content changes */
    .top-content img {
        /* I wanted the image to be at a set height, with only the left and right edges getting cropped out as the screen got smaller. I wasn't able to get teh desired effect. */
/*        height: 160px;*/
/*        width: auto;*/
/*        overflow: hidden;*/
        margin: inherit auto;
        float: center;
    }
    
    .top-content .text-container {
        width: 90%;
    }
    
    
    /* Card Changes */
    .cards__card {
        width: 90%;
    }
    
    /* bottom-content changes */
    .bottom-content {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    
    .bottom-content .text-container {
        width: 90%;
        margin-bottom: 40px;
    }
    
    /* footer changes */
    footer nav {
        width: 100%;
        padding: 20px 5%;
    }
}

@media only screen and (max-width: 400px) {
    
    /* Finally, to make the footer a single column */
    footer nav {
        flex-flow: column nowrap;
        padding: 0px 0;
    }
    
    footer nav a {
        background: #222222;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        margin: 3px;
        transition: background 0.1s linear;
    }
    
    footer nav a:hover {
        background: gray;
    }
}





